/* Reduce padding in hero-body */
.hero-body {
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

/* Reduce margin below the main title 
.title.is-2.mb-6 {
  margin-bottom: 1rem;
}
*/
/* Reduce margin between BOM Master Data and BOM Contents Definition */
.mb-4 {
  margin-bottom: 1rem;
}